PORT=3001
ENABLE_LOCAL_CLIP=true
GOOGLE_API_KEY=
GOOGLE_CSE_ID=
GOOGLE_GL=us
GOOGLE_HL=en
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GROQ_API_KEY=
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
